<!doctype html>

<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <link rel="stylesheet" media="all" href="docco.css" />
</head>
<body>
  <div id="container">
    <div id="background"></div>
  <% if (sources.length > 1) { var i, l, l2, r, d; %>
    <div id="jump_to">
      Jump To &hellip;
      <div id="jump_wrapper">
        <form id="jump_search_wrapper" name="jump_search_form">
          <input id="jump_search" name="jump_search" type="text" placeholder="Search..." tabindex="1">
          <a id="clear_search" href="#" title="Clear">x</a>
        </form>
        <div id="jump_dirs">
          <% for (i=0, l=dirs.length; i<l; i++) { %>
            <a class="dir" href="#"
               title="<%= dirs[i] %>" data-path="<%= dirs[i] %>">
               <%= dirs[i].split('/').slice(-2).join(' / ') %>
            </a>
          <% } %>
        </div>
        <div id="jump_scroller">
          <div id="jump_page">
            <% r = /^.*\/([^\/]+)\.[^.]+$/; for (i=0, l=sources.length; i<l; i++) { %>
              <% d = path.basename(destination(sources[i])); %>
              <a class="source" href="<%= d %>"
                 title="<%= sources[i] %>" data-path="<%= sources[i] %>">
                <%= sources[i].replace(r, '$1') %>
              </a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  <% } %>
    <div id="scroller">
      <table cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th class="docs">
              <h1>
                <%= title %>
              </h1>
            </th>
            <th class="code">
            </th>
          </tr>
        </thead>
        <tbody>
          <% for (var i=0, l=sections.length; i<l; i++) { %>
            <% var section = sections[i]; %>
            <tr id="section-<%= i + 1 %>">
              <td class="docs">
                <div class="pilwrap">
                  <a class="pilcrow" href="#section-<%= i + 1 %>">&#182;</a>
                </div>
                <%= section.docs_html %>
              </td>
              <td class="code">
                <%= section.code_html %>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="docco-client.js"></script>
  <script>
    // Separate markup from behavior and presentation.
    docco.no_results_tpl = function(vars){
      vars.msg = vars.msg || 'No results.' 
      return '<div class="menu-item no-results">'+vars.msg+'</div>'; 
    };
  </script>
</body>
</html>
