<!doctype html>

<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <link rel="stylesheet" media="all" href="docco.css" />
</head>
<body>
  <div id="container">
    <div id="background"></div>
  <% if (sources.length > 1) { %>
    <div id="jump_to">
      Jump To &hellip;
      <%= jump_menu_html %>
    </div>
  <% } %>
    <div id="scroller">
      <table id="doc_page" cellpadding="0" cellspacing="0" data-path="<%= source %>">
        <thead>
          <tr>
            <th class="docs">
              <h1>
                <%= title %>
              </h1>
            </th>
            <th class="code">
            </th>
          </tr>
        </thead>
        <tbody>
          <% for (var i=0, l=sections.length; i<l; i++) { %>
            <% var section = sections[i]; %>
            <tr id="section-<%= i + 1 %>">
              <td class="docs">
                <div class="pilwrap">
                  <a class="pilcrow" href="#section-<%= i + 1 %>">&#182;</a>
                </div>
                <%= section.docs_html %>
              </td>
              <td class="code">
                <%= section.code_html %>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="docco-client.js"></script>
  <% if (sources.length > 1) { %>
    <script>
      docco = window.docco || {};
      docco.no_results_tpl = function(vars){
        vars.msg = vars.msg || 'No results.';
        return '<div class="menu-item no-results">'+vars.msg+'</div>'; 
      };
      docco.sticky_item_tpl = function(vars){
        if (!vars.path || !vars.href) { return; }
        return '<a class="source sticky" href="'+vars.href+'"'+
            'title="'+vars.path+'" data-path="'+vars.path+'">'+
            vars.path.split('/').pop().split('.').shift()+
            '<span class="remove" title="Remove sticky">x</span>'+
          '</a>';
      };
    </script>
  <% } %>
</body>
</html>
