/* line 261, ../vendor/hlf-framework.scss */
.clearfix { zoom: 1; }
/* line 249, ../vendor/hlf-framework.scss */
.clearfix::before, .clearfix::after { content: "\0020"; display: block; height: 0; overflow: hidden; }
/* line 255, ../vendor/hlf-framework.scss */
.clearfix::after { clear: both; }

/*--------------------- Utility Classes ----------------------------------*/
/* line 14, docco.scss */
.prose-text, body, h2 code { font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif; font-size: 15px; line-height: 22px; color: #252519; }

/* line 22, docco.scss */
.code-text, pre, tt, code { font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace; font-size: 12px; line-height: 18px; }

/* line 29, docco.scss */
.meta-text, #jump_to, #jump_wrapper { font: 10px Arial; }

/* line 32, docco.scss */
.reset, body, p, h1, h2, h3, h4, h5, h6, pre, tt, code { margin: 0; padding: 0; }

/*--------------------- Layout and Typography ----------------------------*/
/* line 38, docco.scss */
body { overflow: hidden; }

/* line 44, docco.scss */
a, a:visited { color: #261a3b; }

/* line 46, docco.scss */
p { margin-right: 15px; }

/* line 50, docco.scss */
h1, h2, h3, h4, h5, h6 { margin-right: 15px; }

/* line 54, docco.scss */
h1 { padding-top: 30px; }
/* line 56, docco.scss */
thead h1 { margin-bottom: 15px; }
/* line 61, docco.scss */
tbody .docs h1 { border-top: 1px dotted #dfdfdf; font-size: 1.5em; }

/* line 66, docco.scss */
h2 { font-size: 1.17em; margin-bottom: 8px; }
/* line 68, docco.scss */
h2 code { font-size: 1em; }

/* line 74, docco.scss */
table td { border: 0; outline: 0; }

/* line 80, docco.scss */
td.docs, th.docs { max-width: 450px; min-width: 450px; min-height: 5px; padding: 10px 25px 1px 50px; overflow: hidden; vertical-align: top; text-align: left; }

/* line 92, docco.scss */
.docs { background: white; }
.docs pre { overflow: hidden; overflow-x: auto; margin: 15px 0 15px; padding-left: 15px; border-left: 1px dotted #dfdfdf; }
.docs pre::-webkit-scrollbar { width: 5px; height: 5px; }
/* line 429, ../vendor/hlf-framework.scss */
.docs pre::-webkit-scrollbar-track-piece { margin: 5px; }
/* line 431, ../vendor/hlf-framework.scss */
.docs pre::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0.1); }
/* line 432, ../vendor/hlf-framework.scss */
.docs pre::-webkit-scrollbar-thumb { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: border; -webkit-background-clip: border-box; background-clip: border-box; background: rgba(0, 0, 0, 0.1); }
/* line 437, ../vendor/hlf-framework.scss */
.docs pre::-webkit-scrollbar-thumb:hover { background: rgba(0, 0, 0, 0.3); }
/* line 439, ../vendor/hlf-framework.scss */
.docs pre::-webkit-scrollbar-thumb:window-inactive { background: rgba(0, 0, 0, 0.05); }
/* line 100, docco.scss */
.docs p tt, .docs p code { background: #f8f8ff; border: 1px solid #d5d5df; padding: 0 0.2em; }

/* line 107, docco.scss */
.pilwrap { position: relative; }

/* line 110, docco.scss */
.pilcrow { -moz-transition-property: opacity; -moz-transition-duration: 0.1s; -moz-transition-timing-function: ease-in-out; -o-transition-property: opacity; -o-transition-duration: 0.1s; -o-transition-timing-function: ease-in-out; -webkit-transition-property: opacity; -webkit-transition-duration: 0.1s; -webkit-transition-timing-function: ease-in-out; -ms-transition-property: opacity; -ms-transition-duration: 0.1s; -ms-transition-timing-function: ease-in-out; transition-property: opacity; transition-duration: 0.1s; transition-timing-function: ease-in-out; font: 12px Arial; text-decoration: none; color: #454545; position: absolute; top: 3px; left: -19px; padding: 1px 2px; opacity: 0; }
/* line 119, docco.scss */
td.docs:hover .pilcrow { opacity: 1; }

/* line 122, docco.scss */
td.code, th.code { padding: 14px 15px 16px 25px; width: 100%; vertical-align: top; background: #f5f5ff; border-left: 1px solid #e5e5ef; }

/* line 134, docco.scss */
#container { position: relative; }

/* line 137, docco.scss */
#background { position: fixed; top: 0; right: 0; bottom: 0; left: 525px; background: #f5f5ff; border-left: 1px solid #e5e5ef; z-index: -2; }

/* line 145, docco.scss */
#scroller { overflow: hidden; overflow-y: auto; overflow-x: auto; position: fixed; top: 0; left: 0; bottom: 0.5%; right: 0.5%; height: 99.5%; z-index: -1; background: #f5f5ff; }
/* line 424, ../vendor/hlf-framework.scss */
#scroller::-webkit-scrollbar { width: 5px; height: 5px; }
/* line 429, ../vendor/hlf-framework.scss */
#scroller::-webkit-scrollbar-track-piece { margin: 5px; }
/* line 431, ../vendor/hlf-framework.scss */
#scroller::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0.1); }
/* line 432, ../vendor/hlf-framework.scss */
#scroller::-webkit-scrollbar-thumb { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: border; -webkit-background-clip: border-box; background-clip: border-box; background: rgba(0, 0, 0, 0.2); }
/* line 437, ../vendor/hlf-framework.scss */
#scroller::-webkit-scrollbar-thumb:hover { background: rgba(0, 0, 0, 0.4); }
/* line 439, ../vendor/hlf-framework.scss */
#scroller::-webkit-scrollbar-thumb:window-inactive { background: rgba(0, 0, 0, 0.1); }

/* line 154, docco.scss */
#jump_to, #jump_wrapper { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-background-clip: border; -webkit-background-clip: border-box; background-clip: border-box; -moz-box-shadow: inset 0 0 0 1px white ; -webkit-box-shadow: inset 0 0 0 1px white ; box-shadow: inset 0 0 0 1px white ; background: #f4f4f4; border: 1px solid #d4d4d4; border-top: 0; border-right: 0; cursor: pointer; text-align: right; position: fixed; right: 0; top: 0; }

/* line 166, docco.scss */
#jump_to { padding: 5px 10px; text-transform: uppercase; }
/* line 169, docco.scss */
#jump_to #jump_wrapper { text-transform: lowercase; padding: 0 5px 0 0; display: none; height: 97%; }
/* line 174, docco.scss */
#jump_to #jump_wrapper #jump_scroller { overflow: hidden; overflow-y: auto; height: 100%; margin-bottom: 10px; }
/* line 424, ../vendor/hlf-framework.scss */
#jump_to #jump_wrapper #jump_scroller::-webkit-scrollbar { width: 5px; height: 5px; }
/* line 429, ../vendor/hlf-framework.scss */
#jump_to #jump_wrapper #jump_scroller::-webkit-scrollbar-track-piece { margin: 5px; }
/* line 431, ../vendor/hlf-framework.scss */
#jump_to #jump_wrapper #jump_scroller::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0.1); }
/* line 432, ../vendor/hlf-framework.scss */
#jump_to #jump_wrapper #jump_scroller::-webkit-scrollbar-thumb { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: border; -webkit-background-clip: border-box; background-clip: border-box; background: rgba(0, 0, 0, 0.2); }
/* line 437, ../vendor/hlf-framework.scss */
#jump_to #jump_wrapper #jump_scroller::-webkit-scrollbar-thumb:hover { background: rgba(0, 0, 0, 0.4); }
/* line 439, ../vendor/hlf-framework.scss */
#jump_to #jump_wrapper #jump_scroller::-webkit-scrollbar-thumb:window-inactive { background: rgba(0, 0, 0, 0.1); }
/* line 178, docco.scss */
#jump_to #jump_wrapper #jump_scroller #jump_page { padding: 5px 0; margin-right: 5px; }
/* line 181, docco.scss */
#jump_to #jump_wrapper #jump_scroller #jump_page .source { -moz-transition-property: background; -moz-transition-duration: 0.2s; -moz-transition-timing-function: ease-in-out; -o-transition-property: background; -o-transition-duration: 0.2s; -o-transition-timing-function: ease-in-out; -webkit-transition-property: background; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease-in-out; -ms-transition-property: background; -ms-transition-duration: 0.2s; -ms-transition-timing-function: ease-in-out; transition-property: background; transition-duration: 0.2s; transition-timing-function: ease-in-out; display: block; padding: 5px 10px; text-decoration: none; }
/* line 345, ../vendor/hlf-framework.scss */
#jump_to #jump_wrapper #jump_scroller #jump_page .source { border-top: 1px solid white; border-bottom: 1px solid #e4e4e4; }
/* line 351, ../vendor/hlf-framework.scss */
#jump_to #jump_wrapper #jump_scroller #jump_page .source:first-child, #jump_to #jump_wrapper #jump_scroller #jump_page .source.first { border-top: 0; }
/* line 357, ../vendor/hlf-framework.scss */
#jump_to #jump_wrapper #jump_scroller #jump_page .source:last-child, #jump_to #jump_wrapper #jump_scroller #jump_page .source.last { border-bottom: 0; }
/* line 187, docco.scss */
#jump_to #jump_wrapper #jump_scroller #jump_page .source:hover { background: white; }
/* line 194, docco.scss */
#jump_to:hover #jump_wrapper { display: block; }

/*---------------------- Syntax Highlighting -----------------------------*/
/* line 200, docco.scss */
td.linenos { background-color: #f4f4f4; padding-right: 10px; }

/* line 201, docco.scss */
span.lineno { background-color: #f4f4f4; padding: 0 5px; }

/* line 202, docco.scss */
body { /* Comment */ /* Error */ /* Keyword */ /* Operator */ /* Comment.Multiline */ /* Comment.Preproc */ /* Comment.Single */ /* Comment.Special */ /* Generic.Deleted */ /* Generic.Emph */ /* Generic.Error */ /* Generic.Heading */ /* Generic.Inserted */ /* Generic.Output */ /* Generic.Prompt */ /* Generic.Strong */ /* Generic.Subheading */ /* Generic.Traceback */ /* Keyword.Constant */ /* Keyword.Declaration */ /* Keyword.Namespace */ /* Keyword.Pseudo */ /* Keyword.Reserved */ /* Keyword.Type */ /* Literal.Number */ /* Literal.String */ /* Name.Attribute */ /* Name.Builtin */ /* Name.Class */ /* Name.Constant */ /* Name.Decorator */ /* Name.Entity */ /* Name.Exception */ /* Name.Function */ /* Name.Label */ /* Name.Namespace */ /* Name.Tag */ /* Name.Variable */ /* Operator.Word */ /* Text.Whitespace */ /* Literal.Number.Float */ /* Literal.Number.Hex */ /* Literal.Number.Integer */ /* Literal.Number.Oct */ /* Literal.String.Backtick */ /* Literal.String.Char */ /* Literal.String.Doc */ /* Literal.String.Double */ /* Literal.String.Escape */ /* Literal.String.Heredoc */ /* Literal.String.Interpol */ /* Literal.String.Other */ /* Literal.String.Regex */ /* Literal.String.Single */ /* Literal.String.Symbol */ /* Name.Builtin.Pseudo */ /* Name.Variable.Class */ /* Name.Variable.Global */ /* Name.Variable.Instance */ /* Literal.Number.Integer.Long */ }
/* line 203, docco.scss */
body .hll { background-color: #ffffcc; }
/* line 204, docco.scss */
body .c { color: #408080; font-style: italic; }
/* line 205, docco.scss */
body .err { border: 1px solid #FF0000; }
/* line 206, docco.scss */
body .k { color: #954121; }
/* line 207, docco.scss */
body .o { color: #666666; }
/* line 208, docco.scss */
body .cm { color: #408080; font-style: italic; }
/* line 209, docco.scss */
body .cp { color: #BC7A00; }
/* line 210, docco.scss */
body .c1 { color: #408080; font-style: italic; }
/* line 211, docco.scss */
body .cs { color: #408080; font-style: italic; }
/* line 212, docco.scss */
body .gd { color: #A00000; }
/* line 213, docco.scss */
body .ge { font-style: italic; }
/* line 214, docco.scss */
body .gr { color: #FF0000; }
/* line 215, docco.scss */
body .gh { color: #000080; font-weight: bold; }
/* line 216, docco.scss */
body .gi { color: #00A000; }
/* line 217, docco.scss */
body .go { color: #808080; }
/* line 218, docco.scss */
body .gp { color: #000080; font-weight: bold; }
/* line 219, docco.scss */
body .gs { font-weight: bold; }
/* line 220, docco.scss */
body .gu { color: #800080; font-weight: bold; }
/* line 221, docco.scss */
body .gt { color: #0040D0; }
/* line 222, docco.scss */
body .kc { color: #954121; }
/* line 223, docco.scss */
body .kd { color: #954121; font-weight: bold; }
/* line 224, docco.scss */
body .kn { color: #954121; font-weight: bold; }
/* line 225, docco.scss */
body .kp { color: #954121; }
/* line 226, docco.scss */
body .kr { color: #954121; font-weight: bold; }
/* line 227, docco.scss */
body .kt { color: #B00040; }
/* line 228, docco.scss */
body .m { color: #666666; }
/* line 229, docco.scss */
body .s { color: #219161; }
/* line 230, docco.scss */
body .na { color: #7D9029; }
/* line 231, docco.scss */
body .nb { color: #954121; }
/* line 232, docco.scss */
body .nc { color: #0000FF; font-weight: bold; }
/* line 233, docco.scss */
body .no { color: #880000; }
/* line 234, docco.scss */
body .nd { color: #AA22FF; }
/* line 235, docco.scss */
body .ni { color: #999999; font-weight: bold; }
/* line 236, docco.scss */
body .ne { color: #D2413A; font-weight: bold; }
/* line 237, docco.scss */
body .nf { color: #0000FF; }
/* line 238, docco.scss */
body .nl { color: #A0A000; }
/* line 239, docco.scss */
body .nn { color: #0000FF; font-weight: bold; }
/* line 240, docco.scss */
body .nt { color: #954121; font-weight: bold; }
/* line 241, docco.scss */
body .nv { color: #19469D; }
/* line 242, docco.scss */
body .ow { color: #AA22FF; font-weight: bold; }
/* line 243, docco.scss */
body .w { color: #bbbbbb; }
/* line 244, docco.scss */
body .mf { color: #666666; }
/* line 245, docco.scss */
body .mh { color: #666666; }
/* line 246, docco.scss */
body .mi { color: #666666; }
/* line 247, docco.scss */
body .mo { color: #666666; }
/* line 248, docco.scss */
body .sb { color: #219161; }
/* line 249, docco.scss */
body .sc { color: #219161; }
/* line 250, docco.scss */
body .sd { color: #219161; font-style: italic; }
/* line 251, docco.scss */
body .s2 { color: #219161; }
/* line 252, docco.scss */
body .se { color: #BB6622; font-weight: bold; }
/* line 253, docco.scss */
body .sh { color: #219161; }
/* line 254, docco.scss */
body .si { color: #BB6688; font-weight: bold; }
/* line 255, docco.scss */
body .sx { color: #954121; }
/* line 256, docco.scss */
body .sr { color: #BB6688; }
/* line 257, docco.scss */
body .s1 { color: #219161; }
/* line 258, docco.scss */
body .ss { color: #19469D; }
/* line 259, docco.scss */
body .bp { color: #954121; }
/* line 260, docco.scss */
body .vc { color: #19469D; }
/* line 261, docco.scss */
body .vg { color: #19469D; }
/* line 262, docco.scss */
body .vi { color: #19469D; }
/* line 263, docco.scss */
body .il { color: #666666; }
